body {
	padding-top: 34px;
}

* {
	box-sizing: border-box;
}

nav {
	position: absolute;
	top: 0;
	width: 100%;
	height: auto;
	background: #fff;
	display: table;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	z-index: 2;
}

.container {
	width: 960px;
	margin: 0 auto;
	display: table;
}

.menu {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: table;
}

.menu > li {
	float: left;
	position: relative;
}

.menu li a {
	color: #0071e0;;
	text-decoration: none;
	font-size: 11px;
	padding: 22px 25px;
	display: inline-block;
	transition: all 0.2s ease-in-out;
	border-right: 1px solid rgba(0,0,0,.05);
	position: relative;
	z-index: 2;
}

.menu li a:hover {
	background: rgba( 0,0,0,0.05 );
}

.menu li:last-child a {
	border: none;
}

.submenu {
	position: absolute;
	padding: 0;
	margin: 0;
	list-style: none;
	display: none;
	top: 100%;
	width: 100%;
	box-shadow: 0 5px 50px rgba(0,0,0,.05);
	background-color: #eeeeee;
}

.submenu li {
	display: block;
	width: 100%;
	height: auto;	
}

.submenu li a {
	background: #eeeeee;
	width: 100%;
	border: none;
}

.submenu li a:hover {
	background: rgba(0,0,0,0.5);
}

.menu > li:hover > .submenu {
	display: table;
	z-index: 1;
}

/* ===============
Hero e seus elementos
================== */
.hero {
	width: 100%;
	height: auto;
	background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: right center;
	background-color: #eeeeee;
	display: table;
	padding: 40px 0;
}

.boas-vindas {
	width: 50%;
	height: auto;
	padding-top: 50px;
}

.boas-vindas h2 {
	font-size: 36px;
	font-weight: lighter;
	color: #47525d;
}

.boas-vindas p {
	color: #47525d;
	line-height: 1.5em;
}

.call-to-action {
	background: #0071e0;
	color: #fff;
	text-decoration: none;
	padding: 13px 20px;
	border-radius: 5px;
	font-weight: 100;
	display: inline-block;
}

.boas-vindas p:last-child {
	font-size: 12px;
}

.boas-vindas p:last-child a {
	color: #0071e0;
}

.secao-galeria,
.mapa {
	border-top: 1px solid #ccc;
	background-color: #eee;
	width: 100%;
	height: auto;
	display: table;
	text-align: center;
}

.secao-galeria h2,
.mapa h2 {
	font-size: 36px;
	font-weight: lighter;
	color: #47525d;
}

figure {
	width: 306px;
	height: 306px;
	float: left;
	margin-right: 20px;
	margin-bottom: 40px;
	position: relative;
	overflow: hidden;
	box-shadow: 0 3px 5px rgba(0,0,0,.3);
	transition: all 0.2s ease-in-out;
}

.secao-galeria figure:nth-child(3n+1) {
	margin-right: 0;
}

figure > a {
	display: block;
	width: 100%;
	height: 100%;
}

figure a {
	color: #fff;
	text-decoration: none;
}

.bloco-imagem {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.bloco-imagem img {
	width: 100%;
	height: auto;
	transition: all 0.2s ease-in-out;
}

.bloco-texto {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
	opacity: 0;
	transition: all 0.2s ease-in-out;
}

.bloco-texto h3 {
	font-size: 1.5em;
	padding: 100px 30px 20px 30px;
}

figure:hover .bloco-texto{
	opacity: 1;
}

figure:hover {
	box-shadow: 0 10px 10px rgba(0,0,0,.4);
}

figure:hover .bloco-imagem img {
	width: 105%;
	margin: 0 auto;
}

.link-imagem {
	background: #0071e0;
	color: #fff;
	text-decoration: none;
	padding: 8px 20px;
	border-radius: 30px;
	font-weight: 100;
	display: inline-block;
	font-size: 12px;
	text-transform: uppercase;
}

.mapa iframe {
	width: 100%;
	height: 400px;
	border: none;
	

}























