@media screen and (max-width: 959px) {
	body {
		padding-top: 51px;
	}

	.container {
		width: 100%;
		padding: 0 20px;
	}

	.hero {
		background-size: auto 100%;
		background-position: center center;
		background-attachment: unset;
		padding: 0;
	}

	.hero-menu {
		position: fixed;
		top: 0;
		z-index: 99;
		background-color: #fff;
		border-bottom: 1px solid #ccc;
		box-shadow: 0 2px 5px rgba(0,0,0,.5)
	}

	.hero-logo {
		height: 40px;
		margin: 5px;
	}

	.hero-logo img {
		height: 100%;
		width: auto;
	}

	.hero-lista {
		width: 100%;
		margin-top: 0;
		background-color: #e4bb23;
		margin-bottom: -3px;
		display: none;
		visibility: hidden;
	}

	.hero-lista-item {
		margin-right: 0;
		width: 100%;
		text-align: left;
	}

	.hero-lista-item a {
		font-size: 1.2em;
		color: #333;
		padding: 10px 20px;
		display: block;
		border-bottom: 1px solid rgba(0,0,0,.1);
	}

	.hero-lista-item a:hover {
		background-color: rgba(0,0,0,.1);
		color: #fff;
	}

	.hero-usuario {
		display: none;
		visibility: hidden;
	}

	.hero-conteudo {
		width: 100%;
		padding-top: 30%;
	}

	.hero-titulo {
		font-size: 3em;

	}

	.hero-genero-item { 
		display: inline-block;
	    padding: 5px 10px;
	    color: #000;
	    font-size: 1em;
	    background-color: #e4bb23;
	    border-radius: 5px;
	    margin-right: 5px;
	}

	.hero-botao {
		margin: 30% auto 0;
		display: table;
		background-color: #3498db;
		color: #fff;
		box-shadow: 0 3px 0 #2980b9;
	}

	.hero-botao:hover {
		background-color: #2980b9;
	}	

	.hero-informacao {
		text-align: center;
	}

	.catalogo-menu,
	.catalogo-menu-lista {
		width: 100%;
		margin: 0;
		padding: 0;
		border-radius: 0;
		background-color: #e4bb23;
	}

	.catalogo-menu-lista-item {
		width: 50%;
		height: auto;
		margin-right: 0;
	}

	.catalogo-menu-lista-item:last-child {
		visibility: hidden;
		display: none;
	}

	.catalogo-menu-lista-item a {
	    color: #fff;
	    width: 100%;
	    height: 100%;
	    display: block;
	    padding: 10px;
	    border-bottom: 1px solid rgba(0,0,0,.1);
	    border-right: 1px solid rgba(0,0,0,.1);
	}

	.catalogo-menu-lista-item a:hover {
		background-color: rgba(0,0,0,.1);
		box-shadow: none;
	}

	.catalogo-filmes-lista {
	    padding: 5% 0;
	}

	.catalogo-filmes-lista-item { 
		width: 47%;
		margin-right: 0;
		overflow: hidden;
	}

	.catalogo-filmes-lista-item:nth-child(even) {
		float: right;
	}

	.filme-poster { 
		height: auto;
		width: 100%;
		overflow: hidden;
	}

	.filme-poster img {
	    width: auto;
	    height: 245px;
	    margin: 0 auto;
	}

	.filme-poster-info {
		padding: 5px;
	}

	.filme-poster-info h3 { 
		font-size: 2em;
	}

	.filme-poster-link { 
		font-size: 3em;
	}

	.filme-sinopse { 
		padding: 5px;
	}

	.filme-sinopse-titulo { 
		letter-spacing: 0;
		height: 38px;
	}

	.sinopse-genero { 
		display: none;
	}

	.carregar-mais {
		font-size: 2em;
		padding: 15px;
	}

	.rodape {
		padding: 20px 0;
		text-align: center;
	}

	.rodape-imagem {
		position: relative;
		display: table;
		margin: 0 auto 20px;
	}

	.rodape-lista {
		display: table;
	}

	.copyright {
		position: relative;
		display: table;
		margin: 20px auto;
	}



}/* Fim da regra */























