@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

* {
    box-sizing: border-box;
}

body {
    font-size: 10px;
}

.container {
    width: 960px;
    height: auto;
    margin: 0 auto;
    display: table;
    position: relative;
}

.hero {
    width: 100%;
    height: 100vh;
    display: table;
    background-image: url(../img/capa-madmax2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 20px;
}

.hero-menu {
    width: 100%;
    height: auto;
    display: table;
    text-align: center;
}

.hero-logo {
    float: left;
    display: inline-block;
    width: auto;
    height: auto;
}

.hero-lista {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: inline-block;
    width: auto;
    margin-top: 40px;
}

.hero-lista-item {
    float: left;
    margin-right: 50px;
}

.hero-lista-item a,
.catalogo-menu-lista-item a {
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.2s ease-in-out;
}

.hero-lista-item a:hover {
    color: #e4bb23;
}

.hero-usuario {
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    margin-top: 30px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.5);
}

.hero-usuario img {
    width: 100%;
    height: auto;
}

.hero-conteudo {
    width: 70%;
    text-align: left;
    display: table;
    padding-top: 10%;
}

.hero-titulo {
    font-size: 6.5em;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0;
    line-height: 1em;
}

.hero-genero {
    margin: 10px 0 40px;
    font-size: 12px;
}

.hero-genero-item {
    color: #fff;
    text-decoration: none;
    float: left;
    margin-right: 15px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.hero-genero-item:hover {
    color: #e4bb23;
}

.hero-botao {
    display: inline-block;
    padding: 15px 50px 15px 40px;
    color: #000;
    font-size: 1.6em;
    text-decoration: none;
    background-color: #e4bb23;
    border-radius: 40px;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.hero-botao:hover {
    background-color: #bc9a1d;
}

.hero-botao i {
    font-size: 1.7em;
    position: absolute;
    right: 15px;
    top: 10px;
}

.hero-informacao {
    padding-top: 10%;
    font-size: 1.4em;
    color: #fff;
}

.hero-informacao p:last-child {
    color: #bc9a1d;
}

.catalogo {
    width: 100%;
    height: auto;
    display: table;
    background-color: #f2f2f2;
    color: #3e3f41;
}

.catalogo-menu {
    width: 960px;
    height: auto;
    margin: -30px auto 0;
    display: table;
    border-radius: 5px 5px 0 0;
    background-color: #f2f2f2;
    position: relative;
    z-index: 1;
}

.catalogo-menu-lista,
.catalogo-filmes-lista {
    padding: 0 20px;
    margin: 0 auto;
    list-style: none;
    width: auto;
    display: table;
    border-bottom: 1px solid #dadada;
}

.catalogo-menu-lista-item {
    float: left;
    margin-right: 40px;
}

.catalogo-menu-lista-item:last-child {
    margin-right: 0;
}

.catalogo-menu-lista-item a {
    color: #e4bb23;
    display: inline-block;
    padding: 25px 0;
}

.catalogo-menu-lista-item a:hover {
    box-shadow: inset 0 -2px 0 #e4bb23;
}

.catalogo-filmes-lista {
    width: 100%;
    border: none;
    padding-top: 3%;
}

.catalogo-filmes-lista-item {
    float: left;
    width: 293px;
    height: auto;
    display: table;
    background-color: #fff;
    border-radius: 2px;
    overflow: hidden;
}

.filme-poster {
    margin: 0;
    width: inherit;
    height: 434px;
    overflow: hidden;
    position: relative;
}

.filme-poster img {
    width: 100%;
    height: auto;
}

.filme-poster-info {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 1;
    top: 0;
    padding: 80px 20px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
}

.catalogo-filmes-lista-item:hover  .filme-poster-info {
    opacity: 1;
    visibility: visible;
}

.filme-poster-info h3 { 
    color: #e4bb23;
    font-size: 3em;
    line-height: 1em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.filme-poster-link {
    font-size: 8em;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.filme-poster-link:hover {
    color: #e4bb23;
}

.filme-sinopse {
    width: 100%;
    padding: 20px 15px;
    position: relative;
}

.filme-sinopse-titulo {
    font-size: 1.6em;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    margin: 0;
}

.sinopse-genero {
    margin: 10px 0;
}

.sinopse-genero-item {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #e4bb23;
}

.sinopse-genero-item:hover {
    text-decoration: underline;
}

.filme-nota {
    font-size: 2.5em;
    margin: 15px 0 0 0;
    line-height: 0;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.filme-nota i {
    color: #ccc;
    cursor: pointer;
    padding-right: 10px;
}

.filme-nota i:hover {
    color: #e74c3c;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 40px solid #e4bb23;
  transform: rotate(-45deg);
  position: absolute;
  bottom: -15px;
  right: -25px;
}

.fa-plus {
    position: absolute;
    bottom: 4px;
    font-size: 1.6em;
    right: 7px;
    z-index: 1;
    color: #fff;
}








